<?xml version="1.0" encoding="utf-8"?><configuration><appSettings><add key="AiUrl" value="http://localhost:5005/api/ai/import"/><add key="UseMockAi" value="true"/><add key="MockAiFile" value="App_Data\mock-ai-response.txt"/></appSettings><connectionStrings><add name="ImportDb" connectionString="server=localhost;database=eform;uid=root;pwd=;" providerName="MySql.Data.MySqlClient"/></connectionStrings><system.web><compilation debug="true" targetFramework="4.8"/><httpRuntime targetFramework="4.8" maxRequestLength="51200"/></system.web></configuration>
